version: "3.1"
services:
    www:
        build: './containers/apache/'
        ports: 
            - 80:80
            - 443:443
        volumes:
            - ./www:/var/www/html/
        links:
            - db
            - mailhog
        networks:
            - default
        depends_on:
           - mailhog
    db:
        image: mysql:8.0
        ports: 
            - "3306:3306"
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_DATABASE: drupal
            MYSQL_USER: user
            MYSQL_PASSWORD: test
            MYSQL_ROOT_PASSWORD: test 
        volumes:
            - ./dump:/docker-entrypoint-initdb.d
            - persistent:/var/lib/mysql
            - ./containers/mysql:/etc/mysql/conf.d
        networks:
            - default
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links: 
            - db:db
        ports:
            - 8000:80
        environment:
            MYSQL_USER: user
            MYSQL_PASSWORD: test
            MYSQL_ROOT_PASSWORD: test
    mailhog:
        image: mailhog/mailhog
        ports:
            - 1025:1025
            - 8025:8025
volumes:
    persistent:
